<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/Todo.css"/>
    <title>Document</title>
  </head>
  <body>
    <div class="container my-3" id="app">
      <div class="input-group mb-3">
        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1">待辦事項</span></div>
        <input class="form-control" type="text" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo"/>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link" href="#" :class=" {'active' : visibility == 'all' } " @click="visibility='all'">全部</a></li>
            <li class="nav-item"><a class="nav-link" href="#" :class="{'active' : visibility == 'active'}" @click="visibility='active'">進行中</a></li>
            <li class="nav-item"><a class="nav-link" href="#" :class="{'active' : visibility == 'completed'}" @click="visibility='completed'">已完成</a></li>
          </ul>
        </div>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
            <div class="d-flex" v-if="item.id !== cacheTodo.id">
              <div class="form-check">
                <input class="form-check-input" :id="item.id" type="checkbox" v-model="item.completed"/>
                <label class="form-check-label" :for="item.id" :class="{'completed':item.completed}">{{ item.title }}</label>
              </div>
              <button class="close ml-auto" type="button" aria-label="Close" @click="removeTodo(item)"><span aria-hidden="true">×</span></button>
            </div>
            <input class="form-control" type="text" v-model="cacheTitle" v-if="item.id == cacheTodo.id" @keyup.esc="cancelEdit" @keyup.enter="doneEdit(item)"/>
          </li>
        </ul>
        <div class="card-footer d-flex justify-content-between"><span>還有 3 筆任務未完成</span><a href="#">清除所有任務</a></div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="js/Todo.js"></script>
  </body>
</html>